
h1{
    COLOR: rgb(199, 235, 109);
}


/* search bar */

.search{
    border: 2px solid rgb(237, 13, 13);
    padding:0.5rem 1rem;
    border-radius: 50px;
    background-color: beige;
}

.search:focus{
    outline:0;
    background-color: rgb(255, 255, 255);
}

/* movies /////// */

#main{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px black;
    background-color: rgb(195, 236, 90);
    position: relative;
    overflow: hidden;
}

.movie img{
    width: 100%
}









